In [13]:
import pandas as pd
from itertools import permutations
from random import randint, shuffle

In [20]:
attrs = dict()
for i in range(1,6):
    tmp_list = list()
    for c in range(100,107):
        tmp_list.append('Attr{}_{}'.format(i, chr(c).upper()))
    attrs['Attr{}'.format(i)] = tmp_list
groups = ['Group1','Group2','Group3']

In [21]:
doube_array = list()
for i in range(10000):
    tmp = list()
    idx1 = randint(0,2)
    idx2 = randint(0,6)
    tmp.append(groups[idx1])
    for attr in attrs:
        tmp.append(attrs[attr][idx2])
    
    doube_array.append(tmp)

In [22]:
len(doube_array)

10000

In [24]:
df = pd.DataFrame(doube_array, columns=['Group'] + list(attrs.keys()))

In [25]:
df.head()

    Group    Attr1    Attr2    Attr3    Attr4    Attr5
0  Group3  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J
1  Group2  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J
2  Group2  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J
3  Group2  Attr1_E  Attr2_E  Attr3_E  Attr4_E  Attr5_E
4  Group1  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J

In [34]:
summary = df.groupby(df.columns.tolist()).size()

In [47]:
summary = df.groupby(df.columns.tolist()).size()
columns = df.columns.tolist() + ['Count']
summary_df = summary.reset_index()
summary_df.columns = columns

In [48]:
summary_df.columns = columns

In [49]:
summary_df

     Group    Attr1    Attr2    Attr3    Attr4    Attr5  Count
0   Group1  Attr1_D  Attr2_D  Attr3_D  Attr4_D  Attr5_D    483
1   Group1  Attr1_E  Attr2_E  Attr3_E  Attr4_E  Attr5_E    481
2   Group1  Attr1_F  Attr2_F  Attr3_F  Attr4_F  Attr5_F    469
3   Group1  Attr1_G  Attr2_G  Attr3_G  Attr4_G  Attr5_G    489
4   Group1  Attr1_H  Attr2_H  Attr3_H  Attr4_H  Attr5_H    443
5   Group1  Attr1_I  Attr2_I  Attr3_I  Attr4_I  Attr5_I    486
6   Group1  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J    465
7   Group2  Attr1_D  Attr2_D  Attr3_D  Attr4_D  Attr5_D    497
8   Group2  Attr1_E  Attr2_E  Attr3_E  Attr4_E  Attr5_E    477
9   Group2  Attr1_F  Attr2_F  Attr3_F  Attr4_F  Attr5_F    474
10  Group2  Attr1_G  Attr2_G  Attr3_G  Attr4_G  Attr5_G    473
11  Group2  Attr1_H  Attr2_H  Attr3_H  Attr4_H  Attr5_H    469
12  Group2  Attr1_I  Attr2_I  Attr3_I  Attr4_I  Attr5_I    483
13  Group2  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J    488
14  Group3  Attr1_D  Attr2_D  Attr3_D  Attr4_D  Attr5_D    484
15  Group3  Attr1_E  Attr2_E  Attr3_E  Attr4_E  Attr5_E    443
16  Group3  Attr1_F  Attr2_F  Attr3_F  Attr4_F  Attr5_F    466
17  Group3  Attr1_G  Attr2_G  Attr3_G  Attr4_G  Attr5_G    503
18  Group3  Attr1_H  Attr2_H  Attr3_H  Attr4_H  Attr5_H    490
19  Group3  Attr1_I  Attr2_I  Attr3_I  Attr4_I  Attr5_I    445
20  Group3  Attr1_J  Attr2_J  Attr3_J  Attr4_J  Attr5_J    492

In [52]:
x = summary_df.groupby('Attr1').sum()['Count']

In [61]:
x.index

Index(['Attr1_D', 'Attr1_E', 'Attr1_F', 'Attr1_G', 'Attr1_H', 'Attr1_I',
       'Attr1_J'],
      dtype='object', name='Attr1')

In [65]:
x.values.tolist()

[1464, 1401, 1409, 1465, 1402, 1414, 1445]

In [67]:
summary_df.sum()['Count']

10000