# Make up test DataFrame
This is to make up a demo data set

In [90]:
import pandas as pd
from itertools import permutations
from random import randint, shuffle

In [96]:
data = {
    'Gender':['Male','Female','Unknown'],
    'Age':['18-30','31-40','41-50','51-60','61-70','Above 70'],
    'State':['NSW','VIC','ACT','TAS','QLD','WA','SA','NT'],
    'Tenure':['< 3 Yrs','3 - 5 Yrs','6 - 12 Yrs','> 13 Yrs'],
    'Brand':['Westpac','St. George','RAMS','BSA','BOM'],
    'Centre':['Business','Consumer','WIP','BT Finance']
}
groups = ['Base','Cards','Mortgage','Business']

In [98]:
columns = ['Group'] + list(data.keys())

In [99]:
columns

['Group', 'Gender', 'Age', 'State', 'Tenure', 'Brand', 'Centre']

In [113]:
# random generate 200k records
doube_array = list()
for i in range(150000):
    tmp = list()
    group_idx = randint(0,3)
    tmp.append(groups[group_idx])
    for attr in data.keys():
        idx2 = randint(0,len(data[attr])-1)  
        tmp.append(data[attr][idx2])
    doube_array.append(tmp)
    
# genearte another 50k inbalamce
for i in range(50000):
    tmp = list()
    group_idx = randint(0,3)
    tmp.append(groups[group_idx])
    for attr in data.keys():
        idx2 = randint(0,len(data[attr])-2)  
        tmp.append(data[attr][idx2])
    doube_array.append(tmp)

In [114]:
df = pd.DataFrame(doube_array, columns=columns)

In [115]:
df.head()

      Group   Gender    Age State    Tenure    Brand      Centre
0  Mortgage  Unknown  41-50    NT   < 3 Yrs      BOM  BT Finance
1     Cards   Female  41-50   QLD   < 3 Yrs      BSA         WIP
2  Business   Female  18-30   QLD   < 3 Yrs      BOM         WIP
3  Mortgage   Female  31-40    NT   < 3 Yrs  Westpac         WIP
4  Business     Male  41-50   VIC  > 13 Yrs      BOM    Consumer

In [116]:
# read this from the Dash app
df.to_hdf('data.h5','data')